.post-date {
    font-size: 75%;
}

.title {
    color:#a5573e;
}

.org-src-container {
    background-color: #f4f4f4;
}

.nav-link {
    padding: 5px;
    padding-bottom: 0px;
}

.align-right {
    float: right;
}

div .notes {
    border:1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    margin: 1em auto;
    padding: .1em .5em;
    position: relative;
}

div .notes ::before {
    display: block;
    position: absolute;
    background-color: #a5573e;
    top: 0;
    left: 0;
    padding: 0 .2em;
    border-bottom-left-radius: 8px;
    border: 0;
    color: #fff;
    font-size: 80%;
    content: "My comment";
}

a {
    text-decoration: underline;
}

.post-title a {
    text-decoration: none;
}
